force-app/main/default/flows/Actulizo_cuenta_TVOD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Cuenta</name>
        <label>Cuenta</label>
        <locationX>308</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Bypass_activado</name>
        <label>Bypass activado?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Cuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <interviewLabel>Actulizo cuenta TVOD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actulizo cuenta TVOD</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activado</targetReference>
        </connector>
        <object>TVOD__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
