force-app/main/default/flows/Alertas_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignar_Mismo_first_name_Individual</name>
        <label>Asignar Mismo first name Individual</label>
        <locationX>440</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>First_Name_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Inividual.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Mismo_Last_Name_Individual</name>
        <label>Asignar Mismo Last Name Individual</label>
        <locationX>440</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Last_Name_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Inividual.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_middle_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Mismo_Middle_name_Individual</name>
        <label>Asignar Mismo Middle name Individual</label>
        <locationX>440</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Middle_Name_cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Inividual.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_First_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Mismo_nombre_Individual</name>
        <label>Asignar Mismo nombre Individual</label>
        <locationX>440</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Segundo_Apellido_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Inividual.Segundo_apellido__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_Last_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Variable_individual</name>
        <label>Asignar Variable individual</label>
        <locationX>308</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>IndividualActualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Inividual.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_segundo_apellido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_First_Name1</name>
        <label>Cambiar First Name</label>
        <locationX>176</locationX>
        <locationY>2579</locationY>
        <assignmentItems>
            <assignToReference>First_Name_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Last_Name</name>
        <label>Cambiar Last Name</label>
        <locationX>176</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>Last_Name_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_middle_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Middle_Name</name>
        <label>Cambiar Middle Name</label>
        <locationX>176</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Middle_Name_cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MiddleName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_First_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambiar_Segundo_Apellido1</name>
        <label>Cambiar Segundo Apellido</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Segundo_Apellido_Cambios</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Segundo_Apellido__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_de_Last_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_activado</name>
        <label>Bypass activado?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>tiene_codigo_postal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_de_First_Name</name>
        <label>Ha cambiado de First Name</label>
        <locationX>308</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Asignar_Mismo_first_name_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Ha_cambiado_de_First_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FirstName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_First_Name1</targetReference>
            </connector>
            <label>Si Ha cambiado de First Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_de_Last_Name</name>
        <label>Ha cambiado de Last Name¿?</label>
        <locationX>308</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Asignar_Mismo_Last_Name_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Last_Name_Cambiado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LastName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Last_Name</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_de_middle_name</name>
        <label>Ha cambiado de middle name¿?</label>
        <locationX>308</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Asignar_Mismo_Middle_name_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_ha_cambiado_de_middle_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MiddleName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Middle_Name</targetReference>
            </connector>
            <label>Si ha cambiado de middle name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_de_nombre</name>
        <label>Ha cambiado de nombre¿?</label>
        <locationX>506</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_ha_cambiado_nombre</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MiddleName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MiddleName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.LastName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FirstName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segundo_Apellido__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Segundo_Apellido__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_Inividual</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_de_segundo_apellido</name>
        <label>Ha cambiado de segundo apellido¿?</label>
        <locationX>308</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Asignar_Mismo_nombre_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_ha_cambiado_Primer_Apelido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segundo_Apellido__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Segundo_Apellido__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cambiar_Segundo_Apellido1</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nuevo_o_actualizado</name>
        <label>Nuevo o actualizado</label>
        <locationX>704</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Nuevo</label>
        </rules>
        <rules>
            <name>Actualizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.From_Converted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Se_ha_modificado_Name_Phone_C_digo_postal_o_DNI</targetReference>
            </connector>
            <label>Actualizado</label>
        </rules>
    </decisions>
    <decisions>
        <description>¿Se ha modificado: Name, Phone, Código postal o DNI por un perfil &apos;Agente ATC&apos; o &apos;Integration User&apos;?</description>
        <name>Se_ha_modificado_Name_Phone_C_digo_postal_o_DNI</name>
        <label>¿Se ha modificado: Name, Phone, Código postal o DNI?</label>
        <locationX>803</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Tiene_Check_Alerta_Activo2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>(1 OR 2 OR 3 OR 6 OR 4 OR 5)  and 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Codigo_Postal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DNI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segundo_Apellido__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_Check_Alerta_Activo</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Check_Alerta_Activo</name>
        <label>Tiene Check Alerta Activo</label>
        <locationX>506</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Campo_Crear_Alerta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Tiene_Check_Activado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Crear_Alerta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_modificacion_de_datos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_Check_Alerta_Activo2</name>
        <label>Tiene Check Alerta Activo</label>
        <locationX>1100</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Si_Tiene_Check_Alerta_Activo2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Crear_Alerta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Campo_Crear_Alerta2</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>tiene_codigo_postal</name>
        <label>tiene codigo postal</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizo_codigo_postal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SI_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Codigo_Postal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingPostalCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Codigo_Postal</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <description>Actualización Rubén: Verificar si se ha actualizado y el cliente se ha marcado el check de Cliente dado de baja y no tiene el campo Cuenta traspasada informado, crear alerta asociado al cliente de tipo Baja de usuario.</description>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(isNew(), true, false)</expression>
    </formulas>
    <interviewLabel>Alertas Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alertas Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Alerta_modificacion_de_datos</name>
        <label>Alerta modificación de datos</label>
        <locationX>374</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Ha_cambiado_de_nombre</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Modificación de datos personales desde la zona privada de la web</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtiene el Individual vinculado al account, para luego actualizarle el nombre en caso de que haya cambiado</description>
        <name>Obtener_Inividual</name>
        <label>Obtener Inividual</label>
        <locationX>308</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Variable_individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRelationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Campo_Crear_Alerta</name>
        <label>Actualizar Campo Crear Alerta</label>
        <locationX>638</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Ha_cambiado_de_nombre</targetReference>
        </connector>
        <inputAssignments>
            <field>Crear_Alerta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Campo_Crear_Alerta2</name>
        <label>Actualizar Campo Crear Alerta</label>
        <locationX>968</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>Crear_Alerta__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Codigo_Postal</name>
        <label>Actualizar Codigo Postal</label>
        <locationX>572</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Nuevo_o_actualizado</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Codigo_Postal__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>En caso de que haya cambiado el first name, middle name o last name, actualizarle el nombre</description>
        <name>Actualizar_Individual</name>
        <label>Actualizar Individual</label>
        <locationX>308</locationX>
        <locationY>2771</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Inividual.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Cambios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Cambios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Middle_Name_cambios</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segundo_apellido__c</field>
            <value>
                <elementReference>Segundo_Apellido_Cambios</elementReference>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizo_codigo_postal</name>
        <label>Actualizo codigo postal</label>
        <locationX>836</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Nuevo_o_actualizado</targetReference>
        </connector>
        <inputAssignments>
            <field>Codigo_Postal__c</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activado</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>First_Name_Cambios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndividualActualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Individual</objectType>
    </variables>
    <variables>
        <name>Last_Name_Cambios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Middle_Name_cambios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Segundo_Apellido_Cambios</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
