force-app/main/default/flows/Alerta_Actualizar_descripcion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>asigno_cuenta</name>
        <label>asigno cuenta</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nuevo_o_Actualizado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Nuevo_o_Actualizado</name>
        <label>Nuevo o Actualizado</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Actualizado</defaultConnectorLabel>
        <rules>
            <name>Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Datos_metadata</targetReference>
            </connector>
            <label>Nuevo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tiene_cuenta</name>
        <label>Tiene cuenta</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Nuevo_o_Actualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_no_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asigno_cuenta</targetReference>
            </connector>
            <label>No, no tiene</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(isNew(), true, false)</expression>
    </formulas>
    <interviewLabel>Alerta - Actualizar descripcion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alerta - Actualizar descripcion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Datos_metadata</name>
        <label>Datos metadata</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_descripcion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tipo__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Informacion_de_alertas__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_descripcion</name>
        <label>Actualizar descripcion</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>Descripcion__c</field>
            <value>
                <elementReference>Datos_metadata.descripcion__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tiene_cuenta</targetReference>
        </connector>
        <object>Alerta__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
