force-app/main/default/flows/Almacenar_fecha_y_hora_de_actualizaci_n_a_espera.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IfEnEspera</name>
        <label>IfEnEspera</label>
        <locationX>229</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpcionEnEspera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHoldTime</targetReference>
            </connector>
            <label>OpcionEnEspera</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Almacenar fecha y hora de actualización a espera {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Almacenar fecha y hora de actualización a espera</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>SetHoldTime</name>
        <label>SetHoldTime</label>
        <locationX>468</locationX>
        <locationY>390</locationY>
        <inputAssignments>
            <field>CurrentHoldTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>111</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>IfEnEspera</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
