force-app/main/default/flows/Case_Asigna_Tipo_segun_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>1. Contrato
2. Cuenta</description>
        <name>Asignar_Valores</name>
        <label>Asignar Valores</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contratos_relacionados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Contrato.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Contrato.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_cola_correo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>1. Contrato
2. Cuenta
3. Origen
4. Estado</description>
        <name>Asignar_Valores_0</name>
        <label>Asignar Valores</label>
        <locationX>314</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contratos_relacionados__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Contrato.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Contrato.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_recordtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>1. Contrato
2. Cuenta</description>
        <name>Asignar_Valores_0_0</name>
        <label>Asignar Valores</label>
        <locationX>578</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Buscar_Account_Anonimo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_recordtype</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_activado</name>
        <label>Bypass activado?</label>
        <locationX>619</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Se_ha_modificado_el_contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caso_de_tpo_Consulta</name>
        <label>Caso de tpo Consulta¿?</label>
        <locationX>1452</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Nuevo_o_creacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_Caso_de_tpo_Consulta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Caso_a_Consulta_Comercial</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Coincide_recordtype_y_tipo</name>
        <label>Coincide recordtype y tipo</label>
        <locationX>380</locationX>
        <locationY>2243</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mismo_Nombre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_recordtype</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updatear_recordtype_ID</targetReference>
            </connector>
            <label>Mismo Nombre</label>
        </rules>
    </decisions>
    <decisions>
        <name>Encuentra_registro</name>
        <label>Encuentra registro?</label>
        <locationX>1766</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_entitlement_igual_al_nuevo_Recordtype.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_entitlement_del_caso</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Account_Anonimo</name>
        <label>Existe Account Anónimo?</label>
        <locationX>710</locationX>
        <locationY>1643</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Account_Anonimo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Valores_0_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nuevo_o_creacion</name>
        <label>Nuevo o actualización</label>
        <locationX>1452</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Es_nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Esnuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Origen</targetReference>
            </connector>
            <label>Es nuevo</label>
        </rules>
        <rules>
            <name>Es_actualizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Metadata_Caso</targetReference>
            </connector>
            <label>Es actualización a &quot;On Hold&quot;</label>
        </rules>
        <rules>
            <name>Es_cambio_de_record_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_entitlement_igual_al_nuevo_Recordtype</targetReference>
            </connector>
            <label>Es cambio de record type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Origen</name>
        <label>Origen</label>
        <locationX>743</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formulario_Publico_o_Privado_o_chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario privado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formulario publico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buscar_Contrato</targetReference>
            </connector>
            <label>Formulario Publico o Privado o chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_encontrado_el_contrato</name>
        <label>Se ha encontrado el contrato?</label>
        <locationX>380</locationX>
        <locationY>1427</locationY>
        <defaultConnector>
            <targetReference>Buscar_Account_Anonimo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_Contrato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_cola_correo</targetReference>
            </connector>
            <label>F.publico o privado con contrato</label>
        </rules>
        <rules>
            <name>Origen_chatt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Valores_0</targetReference>
            </connector>
            <label>Origen chat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_modificado_el_contrato</name>
        <label>Se ha modificado el contrato¿?</label>
        <locationX>1452</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Caso_de_tpo_Consulta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Modificado_Contrato_Caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contratos_relacionados__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recoger_Cuenta_de_Contrato</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Modifica: Asigna Tipo segun Record Type para eliminar en Asignar valores de Origen chat, la asignación de estado a In progress.</description>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <formulas>
        <name>Esnuevo</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case - Asigna Tipo segun Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Asigna Tipo segun Record Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Account_Anonimo</name>
        <label>Buscar Account Anónimo</label>
        <locationX>710</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_Account_Anonimo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Anonimo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_Contrato</name>
        <label>Buscar Contrato</label>
        <locationX>380</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Se_ha_encontrado_el_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>email_de_contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Buscar_entitlement_igual_al_nuevo_Recordtype</name>
        <label>Buscar entitlement igual al nuevo Recordtype</label>
        <locationX>1766</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encuentra_registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Entitlement</name>
        <label>Entitlement</label>
        <locationX>380</locationX>
        <locationY>2135</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Coincide_recordtype_y_tipo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Entitlement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recogeremos la cola para asignar los casos en espera a la cola &quot;En Espera&quot;</description>
        <name>Metadata_Caso</name>
        <label>Metadata Caso</label>
        <locationX>1370</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asginar_caso_en_espera</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMeta__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_cola_correo</name>
        <label>Obtener cola correo</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asociar_el_caso_a_una_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Correo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_recordtype</name>
        <label>Obtener recordtype</label>
        <locationX>380</locationX>
        <locationY>2027</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recoger_Cuenta_de_Contrato</name>
        <label>Recoger Cuenta de Contrato</label>
        <locationX>1320</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizar_Cuenta_de_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contratos_relacionados__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Caso_a_Consulta_Comercial</name>
        <label>Actualiza Caso a Consulta Comercial</label>
        <locationX>1320</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Nuevo_o_creacion</targetReference>
        </connector>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Consulta de oferta comercial</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_Cuenta_de_Caso</name>
        <label>Actualizar Cuenta de Caso</label>
        <locationX>1320</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Caso_de_tpo_Consulta</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Recoger_Cuenta_de_Contrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asginar_caso_en_espera</name>
        <label>Asginar caso en espera</label>
        <locationX>1370</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>CurrentHoldTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motivo_de_cierre__c</field>
            <value>
                <elementReference>Metadata_Caso.Motivo_de_cierre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoPermitir_cambio_estado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Metadata_Caso.IdColaEspera__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asociar_el_caso_a_una_cuenta</name>
        <label>Asociar el caso a una cuenta</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <connector>
            <targetReference>Asignar_Valores</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtener_cola_correo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_entitlement_del_caso</name>
        <label>Update entitlement del caso</label>
        <locationX>1634</locationX>
        <locationY>1427</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Buscar_entitlement_igual_al_nuevo_Recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updatear_recordtype_ID</name>
        <label>Updatear recordtype ID</label>
        <locationX>248</locationX>
        <locationY>2351</locationY>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>Entitlement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Obtener_recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>493</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activado</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Guardar_RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
