force-app/main/default/flows/Contract_Email_update_send_allert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Actualiza_Estado_a_Cancelado</name>
        <label>Actualiza Estado a Cancelado</label>
        <locationX>688</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Informa_Motivo_de_error_y_estado_de_suscripcion_Rechazado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status no es Cancelado</defaultConnectorLabel>
        <rules>
            <name>Status_a_Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Baja_de_Cliente</targetReference>
            </connector>
            <label>Status a Cancelado</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect</name>
        <label>El contrato ha cambiado el billing_state a Failed To Collect?</label>
        <locationX>688</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Estado_a_Cancelado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed To Collect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Metodo_de_pago_rechazado</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect_0</name>
        <label>El contrato ha cambiado el billing_state a Failed To Collect?</label>
        <locationX>688</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>GetContratosCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repudio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_de_repudio</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailPrincipal</name>
        <label>EmailPrincipal</label>
        <locationX>688</locationX>
        <locationY>4319</locationY>
        <defaultConnector>
            <targetReference>TelefonoPrincipal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeterCorreoCuenta</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Nuevo</name>
        <label>Es Nuevo¿?</label>
        <locationX>688</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Ha_cambiado_email_de_un_contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_Alta_Contrato__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fecha_de_Alta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Anterior_Pending_Cancel</name>
        <label>Estado Anterior Pending Cancel</label>
        <locationX>688</locationX>
        <locationY>3191</locationY>
        <defaultConnector>
            <targetReference>Estado_Anterior_Pending_Cancel_New_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No estado anterior Pending Cancel</defaultConnectorLabel>
        <rules>
            <name>Si_estado_anterior_Pending_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Reactivacion_de_suscripcion</targetReference>
            </connector>
            <label>Si estado anterior Pending Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Anterior_Pending_Cancel_New_Cancelled</name>
        <label>Estado Anterior Pending Cancel New Cancelled</label>
        <locationX>688</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No estado anterior Pending Cancel</defaultConnectorLabel>
        <rules>
            <name>Si_estado_anterior_Pending_Cancel_New_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Suscriptor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocasional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_de_baja_de_suscripci_n</targetReference>
            </connector>
            <label>Si estado anterior Pending Cancel New Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_custom_pending_cancel_y_fecha_de_baja_informada</name>
        <label>Estado custom pending_cancel y fecha de baja informada</label>
        <locationX>688</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Estado_pending_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Introducir_fecha_solicitud_de_baja</targetReference>
            </connector>
            <label>Estado pending_cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_Suscripcion_de_vacio_a_Activado</name>
        <label>Estado Suscripcion de vacio a Activado</label>
        <locationX>688</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Estado_Anterior_Pending_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pasa_de_vacio_a_activado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Estado_de_suscripcion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_contratacion_activada</targetReference>
            </connector>
            <label>Pasa de vacio a activado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_email_de_un_contrato</name>
        <label>Ha cambiado email de un contrato?</label>
        <locationX>688</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Se_ha_modificado_el_metodo_de_pago</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.email_de_contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crear_Alerta_Cambio_correo_electronico</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfContratosActivos</name>
        <label>IfContratosActivos</label>
        <locationX>666</locationX>
        <locationY>5471</locationY>
        <defaultConnector>
            <targetReference>DarDeAlta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpcionNoActivos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>OpcionNoActivos</label>
        </rules>
        <rules>
            <name>OpcionaActivos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop.Contrato_activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>OpcionaActivos</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfnotActivo</name>
        <label>IfnotActivo</label>
        <locationX>358</locationX>
        <locationY>6023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ComprobarActivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contrato_activo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DarDeBaja</targetReference>
            </connector>
            <label>ComprobarActivo</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfRecord</name>
        <label>IfRecord</label>
        <locationX>688</locationX>
        <locationY>5231</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>RecordUpdated</label>
        </rules>
        <rules>
            <name>RecordNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DarDeAlta</targetReference>
            </connector>
            <label>RecordNew</label>
        </rules>
    </decisions>
    <decisions>
        <name>Informa_Motivo_de_error_y_estado_de_suscripcion_Rechazado</name>
        <label>Informa Motivo de error y estado de suscripcion Rechazado</label>
        <locationX>688</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Estado_Suscripcion_de_vacio_a_Activado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Se_informa_el_motivo_de_error_y_cambia_estado_de_suscripcion_a_rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mensaje__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Error_contratacion_suscripcion</targetReference>
            </connector>
            <label>Se informa el motivo de error y cambia estado de suscripcion a rechazado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Se_ha_modificado_el_metodo_de_pago</name>
        <label>Se ha modificado el método de pago??</label>
        <locationX>688</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Estado_custom_pending_cancel_y_fecha_de_baja_informada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_ha_cambiado_el_metodo_de_pago</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.paypal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.payment_method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.credit_card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Card_Expiration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creaci_n_Alerta_de_Modificaci_n_de_m_todo_de_pago</targetReference>
            </connector>
            <label>Si ha cambiado el método de pago</label>
        </rules>
    </decisions>
    <decisions>
        <name>TelefonoPrincipal</name>
        <label>TelefonoPrincipal</label>
        <locationX>688</locationX>
        <locationY>4775</locationY>
        <defaultConnector>
            <targetReference>IfRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Telefono_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeterTelefonoCuenta</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <description>En el paso de DarDeBaja se informa el campo Fecha_de_baja__c con la fecha q se ha ejecutado el flow.
En el paso de DarDeAlta  se vacia el campo Fecha_de_baja__c</description>
    <environments>Default</environments>
    <formulas>
        <name>Isnewcontract</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Nuevoyfechadealta</name>
        <dataType>Boolean</dataType>
        <expression>if(ISNEW() &amp;&amp; {!$Record.Fecha_Alta_Contrato__c} == NULL ,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>SetFecha</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>setToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contract - Email update, send allert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>358</locationX>
        <locationY>5351</locationY>
        <collectionReference>GetContratosCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IfContratosActivos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IfnotActivo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Alerta_Baja_de_Cliente</name>
        <label>Alerta Baja de Cliente</label>
        <locationX>556</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Informa_Motivo_de_error_y_estado_de_suscripcion_Rechazado</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Baja de cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_contratacion_activada</name>
        <label>Alerta contratacion activada</label>
        <locationX>556</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Estado_Anterior_Pending_Cancel</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Contratación activada</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_de_baja_de_suscripci_n</name>
        <label>Alerta de baja de suscripción</label>
        <locationX>556</locationX>
        <locationY>3647</locationY>
        <connector>
            <targetReference>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Baja de suscripcion</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_de_repudio</name>
        <label>Alerta de repudio</label>
        <locationX>556</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>GetContratosCuenta</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Repudio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Repudio</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_de_solicitud_de_baja</name>
        <label>Alerta de solicitud de baja</label>
        <locationX>556</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>El_contrato_ha_cambiado_el_billing_state_a_Failed_To_Collect</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Solicitud de baja</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Error_contratacion_suscripcion</name>
        <label>Alerta Error contratacion suscripcion</label>
        <locationX>556</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Estado_Suscripcion_de_vacio_a_Activado</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Error contratación suscripción</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Metodo_de_pago_rechazado</name>
        <label>Alerta Metodo de pago rechazado</label>
        <locationX>556</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Actualiza_Estado_a_Cancelado</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Método de pago rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Método de pago rechazado</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Reactivacion_de_suscripcion</name>
        <label>Alerta Reactivación de suscripción</label>
        <locationX>556</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Estado_Anterior_Pending_Cancel_New_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Reactivación de la suscripción</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Reactivación de la suscripción</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creaci_n_Alerta_de_Modificaci_n_de_m_todo_de_pago</name>
        <label>Creación Alerta de Modificación de método de pago</label>
        <locationX>556</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Estado_custom_pending_cancel_y_fecha_de_baja_informada</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Modificación del medio de pago</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Alerta_Cambio_correo_electronico</name>
        <label>Crear Alerta Cambio correo electronico</label>
        <locationX>556</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Se_ha_modificado_el_metodo_de_pago</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Cambio de correo electrónico</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Cambio de correo electrónico</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetContratosCuenta</name>
        <label>GetContratosCuenta</label>
        <locationX>688</locationX>
        <locationY>4199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EmailPrincipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>DarDeAlta</name>
        <label>DarDeAlta</label>
        <locationX>887</locationX>
        <locationY>5591</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_baja__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Active_Customer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>DarDeBaja</name>
        <label>DarDeBaja</label>
        <locationX>227</locationX>
        <locationY>6143</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_baja__c</field>
            <value>
                <elementReference>setToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Active_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fecha_de_Alta</name>
        <label>Fecha de Alta</label>
        <locationX>556</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Ha_cambiado_email_de_un_contrato</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_Alta_Contrato__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Introducir_fecha_solicitud_de_baja</name>
        <label>Introducir fecha solicitud de baja</label>
        <locationX>556</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Alerta_de_solicitud_de_baja</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_solicitud_de_baja__c</field>
            <value>
                <elementReference>SetFecha</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>MeterCorreoCuenta</name>
        <label>MeterCorreoCuenta</label>
        <locationX>556</locationX>
        <locationY>4439</locationY>
        <connector>
            <targetReference>Quitar_checks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>email_account__c</field>
            <value>
                <elementReference>$Record.email_de_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MeterTelefonoCuenta</name>
        <label>MeterTelefonoCuenta</label>
        <locationX>556</locationX>
        <locationY>4895</locationY>
        <connector>
            <targetReference>Quitar_checks_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Telefono_de_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quitar_checks</name>
        <label>Quitar checks</label>
        <locationX>556</locationX>
        <locationY>4559</locationY>
        <connector>
            <targetReference>TelefonoPrincipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quitar_checks_0</name>
        <label>Quitar checks</label>
        <locationX>556</locationX>
        <locationY>5015</locationY>
        <connector>
            <targetReference>IfRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Telefono_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Es_Nuevo</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>newAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alerta__c</objectType>
    </variables>
    <variables>
        <name>varIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
