force-app/main/default/flows/Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignamos_las_casillas_de_principal</name>
        <label>Asignamos las casillas de principal</label>
        <locationX>2514</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>Obtener_el_contrato_mas_antiguo_en_estado_activo.Email_principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtener_el_contrato_mas_antiguo_en_estado_activo.Telefono_principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_contrato_mas_antiguo_y_activo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_Precio</name>
        <label>Sumar Precio</label>
        <locationX>1810</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>Currency_Double_Format</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorre_productos.Precio__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorre_productos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actualiza_Estado_a_Cancelado</name>
        <label>Actualiza Estado a Cancelado</label>
        <locationX>2580</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Status no es Cancelado</defaultConnectorLabel>
        <rules>
            <name>Status_a_Cancelado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Motivo_de_cancelacion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Traspasado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocasional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Baja_de_Cliente</targetReference>
            </connector>
            <label>Status a Cancelado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_activo</name>
        <label>Bypass activo?</label>
        <locationX>391</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Es_nuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_activado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass activado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_activo_despues_de_24_horas</name>
        <label>Bypass activo despues de 24 horas?</label>
        <locationX>4032</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Es_a_n_ocasional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>De_periodo_de_gracia_a_cancelado</name>
        <label>De periodo de gracia a cancelado</label>
        <locationX>1282</locationX>
        <locationY>900</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periodo de Gracia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Baja_por_deuda_adquirida</targetReference>
            </connector>
            <label>De Periodo de gracias a Cancelado</label>
        </rules>
        <rules>
            <name>De_Activo_a_periodo_de_gracia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periodo de Gracia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Metodo_de_pago_rechazado</targetReference>
            </connector>
            <label>De Activo a periodo de gracia</label>
        </rules>
        <rules>
            <name>A_repudio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Repudio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_de_repudio</targetReference>
            </connector>
            <label>A repudio</label>
        </rules>
        <rules>
            <name>De_periodo_de_gracia_a_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Periodo de Gracia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Productos</targetReference>
            </connector>
            <label>De periodo de gracia a Activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EmailPrincipal</name>
        <label>EmailPrincipal</label>
        <locationX>3174</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>TelefonoPrincipal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.email_de_contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeterCorreoCuenta</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_a_n_ocasional</name>
        <label>Es aún ocasional?</label>
        <locationX>4230</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocasional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Cliente_Ocasional</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_nuevo</name>
        <label>Es nuevo?</label>
        <locationX>996</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Tipo_de_modificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actualizacion</defaultConnectorLabel>
        <rules>
            <name>Nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewcontract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Not_Active_Customer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Fecha_de_baja__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DarDeAlta</targetReference>
            </connector>
            <label>Nuevo y cuenta desactivada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estado_de_suscripcion_A</name>
        <label>Estado de suscripcion A</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>De_periodo_de_gracia_a_cancelado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cambio_a_rechazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rechazado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mensaje__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_Error_contratacion_suscripcion</targetReference>
            </connector>
            <label>Cambio a rechazado</label>
        </rules>
        <rules>
            <name>Cambio_a_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fecha_solicitud_de_baja__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Vaciar_fecha_de_solicitud_de_baja</targetReference>
            </connector>
            <label>Cambio a Activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_otro_contrato_activo</name>
        <label>Existe otro contrato activo?</label>
        <locationX>2382</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Asignamos_las_casillas_de_principal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si existe otro contrato activo</defaultConnectorLabel>
        <rules>
            <name>No_hay_contrato_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_el_contrato_mas_antiguo_en_estado_activo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DarDeBaja</targetReference>
            </connector>
            <label>No hay contrato activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Producto_Activo</name>
        <label>Producto Activo¿?</label>
        <locationX>1942</locationX>
        <locationY>1224</locationY>
        <defaultConnector>
            <targetReference>Recorre_productos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_productos.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_Precio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>TelefonoPrincipal</name>
        <label>TelefonoPrincipal</label>
        <locationX>3174</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Actualizar_telefono_principal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Telefono_principal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Telefono_principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Telefono_de_contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MeterTelefonoCuenta</targetReference>
            </connector>
            <label>Actualizar telefono principal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tipo_de_modificacion</name>
        <label>Tipo de modificación</label>
        <locationX>1942</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Metodo_de_pago_modificado</name>
            <conditionLogic>(1 AND 5) OR (2 AND 6) OR (3 AND 7) OR (4 AND 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.paypal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.payment_method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.credit_card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Card_Expiration_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.paypal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.payment_method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.credit_card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Card_Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creaci_n_Alerta_de_Modificaci_n_de_m_todo_de_pago</targetReference>
            </connector>
            <label>Metodo de pago modificado</label>
        </rules>
        <rules>
            <name>Modificacion_estado_de_suscripci_n_o_estado_de_pago</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Estado_de_suscripcion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_state__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estado_de_suscripcion_A</targetReference>
            </connector>
            <label>Modificacion estado de suscripción o estado de pago</label>
        </rules>
        <rules>
            <name>Modificacion_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Estado_a_Cancelado</targetReference>
            </connector>
            <label>Modificacion Status</label>
        </rules>
        <rules>
            <name>Modificacion_Email_Principal_cambio_email_o_telefono_principal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.email_de_contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Telefono_principal__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Telefono_de_contrato__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailPrincipal</targetReference>
            </connector>
            <label>Modificacion Email Principal, cambio email o telefono principal</label>
        </rules>
    </decisions>
    <description>En el paso de DarDeBaja se informa el campo Fecha_de_baja__c con la fecha q se ha ejecutado el flow.
En el paso de DarDeAlta  se vacia el campo Fecha_de_baja__c</description>
    <environments>Default</environments>
    <formulas>
        <name>Alert_Create_Time</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(DATEVALUE(now())))+ &quot;/&quot; + TEXT(MONTH(DATEVALUE(now())))+ &quot;/&quot; + TEXT(YEAR(DATEVALUE(now())))</expression>
    </formulas>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <formulas>
        <name>Isnewcontract</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Name_Campaign_Format</name>
        <dataType>String</dataType>
        <expression>TRIM(right({!NameCampaignAssign}, (LEN( {!NameCampaignAssign}) - 1)))</expression>
    </formulas>
    <formulas>
        <name>Nuevoyfechadealta</name>
        <dataType>Boolean</dataType>
        <expression>if(ISNEW() &amp;&amp; {!$Record.Fecha_Alta_Contrato__c} == NULL ,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>SetFecha</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>setToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract</label>
    <loops>
        <name>Recorre_productos</name>
        <label>Recorre productos</label>
        <locationX>1722</locationX>
        <locationY>1116</locationY>
        <collectionReference>Get_Productos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Producto_Activo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Crear_Abono_de_deuda_pendiente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Alerta_Baja_de_Cliente</name>
        <label>Alerta Baja de Cliente</label>
        <locationX>2382</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Actualizar_fecha_baja_ocasional</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Baja de cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Baja_por_deuda_adquirida</name>
        <label>Alerta Baja por deuda adquirida</label>
        <locationX>578</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Baja por deuda adquirida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Baja por deuda adquirida</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Cliente_Ocasional</name>
        <label>Alerta Cliente Ocasional</label>
        <locationX>4098</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Cliente ocasional</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_de_repudio</name>
        <label>Alerta de repudio</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Repudio</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Repudio</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Error_contratacion_suscripcion</name>
        <label>Alerta Error contratacion suscripcion</label>
        <locationX>1018</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>De_periodo_de_gracia_a_cancelado</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Error contratación suscripción</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Alerta_Metodo_de_pago_rechazado</name>
        <label>Alerta Metodo de pago rechazado</label>
        <locationX>842</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Método de pago rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Método de pago rechazado</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Creaci_n_Alerta_de_Modificaci_n_de_m_todo_de_pago</name>
        <label>Creación Alerta de Modificación de método de pago</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Modificación del medio de pago</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Abono_de_deuda_pendiente</name>
        <label>Crear Abono de deuda pendiente</label>
        <locationX>1722</locationX>
        <locationY>1608</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Abono de deuda pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Num_Aux_1__c</field>
            <value>
                <elementReference>Currency_Double_Format</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>String_Aux_1__c</field>
            <value>
                <elementReference>Alert_Create_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Abono de deuda pendiente</stringValue>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Recoge los productos de contrato</description>
        <name>Get_Productos</name>
        <label>Get_Productos</label>
        <locationX>1722</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_productos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Producto_Contrato__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_el_contrato_mas_antiguo_en_estado_activo</name>
        <label>Obtener el contrato mas antiguo en estado activo</label>
        <locationX>2382</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_otro_contrato_activo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>Fecha_Alta_Contrato__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_contrato_mas_antiguo_y_activo</name>
        <label>Actualizar contrato mas antiguo y activo</label>
        <locationX>2514</locationX>
        <locationY>1248</locationY>
        <inputReference>Obtener_el_contrato_mas_antiguo_en_estado_activo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_fecha_baja_ocasional</name>
        <label>Actualizar fecha baja ocasional</label>
        <locationX>2382</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Obtener_el_contrato_mas_antiguo_en_estado_activo</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_de_baja_ocasional__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actulizo_consentimientos</name>
        <label>Actulizo consentimientos</label>
        <locationX>2250</locationX>
        <locationY>1248</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRelationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>C111__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C112__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C113__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C114__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C122__c</field>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </inputAssignments>
        <object>Individual</object>
    </recordUpdates>
    <recordUpdates>
        <name>DarDeAlta</name>
        <label>DarDeAlta</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_baja__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Active_Customer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>DarDeBaja</name>
        <label>DarDeBaja</label>
        <locationX>2250</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Actulizo_consentimientos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fecha_de_baja__c</field>
            <value>
                <elementReference>setToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Not_Active_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MeterCorreoCuenta</name>
        <label>MeterCorreoCuenta</label>
        <locationX>3042</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Quitar_checks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>email_account__c</field>
            <value>
                <elementReference>$Record.email_de_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>MeterTelefonoCuenta</name>
        <label>MeterTelefonoCuenta</label>
        <locationX>3042</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Quitar_checks_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Telefono_de_contrato__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quitar_checks</name>
        <label>Quitar checks</label>
        <locationX>3042</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>TelefonoPrincipal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email_principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Email_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Quitar_checks_0</name>
        <label>Quitar checks</label>
        <locationX>3042</locationX>
        <locationY>1224</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Telefono_principal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Telefono_principal__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Vaciar_fecha_de_solicitud_de_baja</name>
        <label>Vaciar fecha de solicitud de baja</label>
        <locationX>1282</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>De_periodo_de_gracia_a_cancelado</targetReference>
        </connector>
        <inputAssignments>
            <field>Fecha_solicitud_de_baja__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2085</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activo</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Cliente_ocasional</name>
            <connector>
                <targetReference>Bypass_activo_despues_de_24_horas</targetReference>
            </connector>
            <label>Cliente ocasional?</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CounterProductContract</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Suma de productos activos</description>
        <name>Currency_Double_Format</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Description_Campaign_Assign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NameCampaignAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alerta__c</objectType>
    </variables>
    <variables>
        <name>TieneContratoActivo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
