force-app/main/default/flows/INDIVIDUAL_CREAR_HISTORICO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Asignacion_Canal_captacion_Service_cloud</name>
        <label>Asignacion Canal captacion Service cloud</label>
        <locationX>380</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_Consentimiento_C1122</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Canal_captacion_Service_cloud_2</name>
        <label>Asignacion Canal captacion Service cloud 2</label>
        <locationX>380</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_Consentimiento_C1131</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Canal_captacion_Service_cloud_3</name>
        <label>Asignacion Canal captacion Service cloud 3</label>
        <locationX>380</locationX>
        <locationY>2339</locationY>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_Consentimiento_C1141</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_Canal_captacion_Service_cloud_4</name>
        <label>Asignacion Canal captacion Service cloud 4</label>
        <locationX>380</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_cambiado_Consentimiento_C1221</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C111</name>
        <label>Assignar usuario Captacion C111</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Usuario_Captacion_C111</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Usuario_Captacion_C111__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canal_Captacion_C111__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C111_Alias</name>
        <label>Assignar usuario Captacion C111 Alias</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Usuario_Captacion_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accion_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sistema_Consumer_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Canal_Captacion_C111__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C112</name>
        <label>Assignar usuario Captacion C112</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Usuario_Captacion_C112</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Usuario_Captacion_C112__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canal_Captacion_C112__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C112_Alias</name>
        <label>Assignar usuario Captacion C112 Alias</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Usuario_Captacion_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accion_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sistema_Consumer_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Canal_Captacion_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_C112__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C113</name>
        <label>Assignar usuario Captacion C113</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Usuario_Captacion_C113</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Usuario_Captacion_C113__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canal_Captacion_C113__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C113_Alias</name>
        <label>Assignar usuario Captacion C113 Alias</label>
        <locationX>314</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>$Record.Usuario_Captacion_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accion_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sistema_Consumer_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Canal_Captacion_C113__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C114</name>
        <label>Assignar usuario Captacion C114</label>
        <locationX>50</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>Usuario_Captacion_C114</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Usuario_Captacion_C114__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canal_Captacion_C114__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C114_Alias</name>
        <label>Assignar usuario Captacion C114 Alias</label>
        <locationX>314</locationX>
        <locationY>2663</locationY>
        <assignmentItems>
            <assignToReference>$Record.Usuario_Captacion_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accion_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sistema_Consumer_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Canal_Captacion_C114__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C122</name>
        <label>Assignar usuario Captacion C122</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>Usuario_captacion_C122</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Usuario_Captacion_C122__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Canal_Captacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Canal_Captacion_C122__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Individual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignar_usuario_Captacion_C122_Alias</name>
        <label>Assignar usuario Captacion C122 Alias</label>
        <locationX>314</locationX>
        <locationY>3263</locationY>
        <assignmentItems>
            <assignToReference>$Record.Usuario_Captacion_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Alias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fecha_y_Hora_de_Captacion_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FechaActual1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Accion_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Reason_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MPC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sistema_Consumer_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LITE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Canal_Captacion_C122__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SALESFORCE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Individual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_activado</name>
        <label>Bypass activado?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Es_nuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>C111_por_Perfil</name>
        <label>C111 por Perfil</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Assignar_usuario_Captacion_C111_Alias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente C111</defaultConnectorLabel>
        <rules>
            <name>Perfil_Integracion_C111</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_Captacion_C111__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_usuario_Captacion_C111</targetReference>
            </connector>
            <label>Perfil Integracion C111</label>
        </rules>
    </decisions>
    <decisions>
        <name>C112_por_Perfil</name>
        <label>C112 por Perfil</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Assignar_usuario_Captacion_C112_Alias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente C112</defaultConnectorLabel>
        <rules>
            <name>Perfil_Integracion_C112</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_Captacion_C112__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_usuario_Captacion_C112</targetReference>
            </connector>
            <label>Perfil Integracion C112</label>
        </rules>
    </decisions>
    <decisions>
        <name>C113_por_Perfil</name>
        <label>C113 por Perfil</label>
        <locationX>182</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Assignar_usuario_Captacion_C113_Alias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente C113</defaultConnectorLabel>
        <rules>
            <name>Perfil_Integracion_C113</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_Captacion_C113__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_usuario_Captacion_C113</targetReference>
            </connector>
            <label>Perfil Integracion C113</label>
        </rules>
    </decisions>
    <decisions>
        <name>C114_por_Perfil</name>
        <label>C114 por Perfil</label>
        <locationX>182</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Assignar_usuario_Captacion_C114_Alias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente C114</defaultConnectorLabel>
        <rules>
            <name>Perfil_integracion_C114</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_Captacion_C114__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_usuario_Captacion_C114</targetReference>
            </connector>
            <label>Perfil integracion C114</label>
        </rules>
    </decisions>
    <decisions>
        <name>C122_por_Perfil</name>
        <label>C122 por Perfil</label>
        <locationX>182</locationX>
        <locationY>3155</locationY>
        <defaultConnector>
            <targetReference>Assignar_usuario_Captacion_C122_Alias</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agente 122</defaultConnectorLabel>
        <rules>
            <name>Perfil_integracion_C122</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Usuario_Captacion_C122__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignar_usuario_Captacion_C122</targetReference>
            </connector>
            <label>Perfil integracion C122</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_nuevo</name>
        <label>Es nuevo¿?</label>
        <locationX>567</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>No_es_nuevo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsNuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREAR_OBJETO_HISTORICO</targetReference>
            </connector>
            <label>No es Nuevo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Consentimiento_C1111</name>
        <label>¿Ha cambiado Consentimiento C111?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO 111</defaultConnectorLabel>
        <rules>
            <name>SI_111</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C111__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Accion_C111__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_C111__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_C111__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_Captacion_C111__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_Captacion_C111__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reason_C111__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Reason_C111__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sistema_Consumer_C111__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sistema_Consumer_C111__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C111_por_Perfil</targetReference>
            </connector>
            <label>SI 111</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Consentimiento_C1122</name>
        <label>¿Ha cambiado Consentimiento C112?</label>
        <locationX>380</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO 112</defaultConnectorLabel>
        <rules>
            <name>SI_112</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C112__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.C112__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_C112__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_C112__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_Captacion_C112__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_Captacion_C112__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sistema_Consumer_C112__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sistema_Consumer_C112__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C112_por_Perfil</targetReference>
            </connector>
            <label>SI 112</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Consentimiento_C1131</name>
        <label>¿Ha cambiado Consentimiento C113?</label>
        <locationX>380</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO 113</defaultConnectorLabel>
        <rules>
            <name>SI_113</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C113__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.C113__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_C113__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_C113__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_Captacion_C113__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_Captacion_C113__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sistema_Consumer_C113__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sistema_Consumer_C113__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C113_por_Perfil</targetReference>
            </connector>
            <label>SI 113</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Consentimiento_C1141</name>
        <label>¿Ha cambiado Consentimiento C114?</label>
        <locationX>380</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Asignacion_Canal_captacion_Service_cloud_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO 114</defaultConnectorLabel>
        <rules>
            <name>Si_114</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C114__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.C114__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_C114__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_C114__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_Captacion_C114__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_Captacion_C114__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sistema_Consumer_C114__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sistema_Consumer_C114__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C114_por_Perfil</targetReference>
            </connector>
            <label>Si 114</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_cambiado_Consentimiento_C1221</name>
        <label>¿Ha cambiado Consentimiento C122?</label>
        <locationX>380</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Individual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI 122</defaultConnectorLabel>
        <rules>
            <name>SI_122</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.C122__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.C122__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_C122__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_C122__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Canal_Captacion_C122__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Canal_Captacion_C122__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sistema_Consumer_C122__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sistema_Consumer_C122__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C122_por_Perfil</targetReference>
            </connector>
            <label>SI 122</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <formulas>
        <name>EsNuevo</name>
        <dataType>Boolean</dataType>
        <expression>isnew()</expression>
    </formulas>
    <formulas>
        <name>FechaActual1</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>INDIVIDUAL - CREAR HISTÓRICO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Individual - Historico y cambios fecha/usuario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREAR_OBJETO_HISTORICO</name>
        <label>CREAR OBJETO HISTÓRICO</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Ha_cambiado_Consentimiento_C1111</targetReference>
        </connector>
        <inputAssignments>
            <field>C111__c</field>
            <value>
                <elementReference>$Record__Prior.C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C112__c</field>
            <value>
                <elementReference>$Record__Prior.C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C113__c</field>
            <value>
                <elementReference>$Record__Prior.C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C114__c</field>
            <value>
                <elementReference>$Record__Prior.C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>C122__c</field>
            <value>
                <elementReference>$Record__Prior.C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_Captacion_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_Captacion_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_Captacion_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_Captacion_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Canal_Captacion_C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_y_Hora_de_Captacion_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Fecha_y_Hora_de_Captacion_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_y_Hora_de_Captacion_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Fecha_y_Hora_de_Captacion_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_y_Hora_de_Captacion_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Fecha_y_Hora_de_Captacion_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_y_Hora_de_Captacion_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Fecha_y_Hora_de_Captacion_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fecha_y_Hora_de_Captacion_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Fecha_y_Hora_de_Captacion_C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persona__c</field>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Reason_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Reason_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Reason_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Reason_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Reason_C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Sistema_Consumer_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Sistema_Consumer_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Sistema_Consumer_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Sistema_Consumer_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Sistema_Consumer_C122__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usuario_Captacion_C111__c</field>
            <value>
                <elementReference>$Record__Prior.Usuario_Captacion_C111__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usuario_Captacion_C112__c</field>
            <value>
                <elementReference>$Record__Prior.Usuario_Captacion_C112__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usuario_Captacion_C113__c</field>
            <value>
                <elementReference>$Record__Prior.Usuario_Captacion_C113__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usuario_Captacion_C114__c</field>
            <value>
                <elementReference>$Record__Prior.Usuario_Captacion_C114__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Usuario_Captacion_C122__c</field>
            <value>
                <elementReference>$Record__Prior.Usuario_Captacion_C122__c</elementReference>
            </value>
        </inputAssignments>
        <object>Historico_Individual__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Actualizar_Individual</name>
        <label>Actualizar Individual</label>
        <locationX>380</locationX>
        <locationY>3539</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activado</targetReference>
        </connector>
        <object>Individual</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Canal_Captacion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Service Cloud</stringValue>
        </value>
    </variables>
    <variables>
        <name>OBTENERREGISTROINDIVIDUAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Individual</objectType>
    </variables>
    <variables>
        <name>Usuario_Captacion_C111</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usuario_Captacion_C112</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usuario_Captacion_C113</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usuario_Captacion_C114</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Usuario_captacion_C122</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
