force-app/main/default/flows/Proceso_Lead_Cuenta_Contratos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Bypass_activado</name>
        <label>Bypass activado?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Es_Nuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si_activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Si, activo</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_Nuevo</name>
        <label>Es Nuevo¿?</label>
        <locationX>473</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Actualizar_Id_Externo_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es Nuevo</defaultConnectorLabel>
        <rules>
            <name>Actualizacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cuenta_con_DNI</targetReference>
            </connector>
            <label>Actualización</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_la_cuenta</name>
        <label>Existe la cuenta ¿?</label>
        <locationX>275</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Crea_Contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SI</defaultConnectorLabel>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cuenta_con_DNI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>recordtype</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>modificación el campo Nombre de cliente sea el firstName y el Primer apellido sea el Lastname</description>
    <environments>Default</environments>
    <formulas>
        <name>ActualizacionIdLead</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}+&apos;-L&apos;</expression>
    </formulas>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Bypass_flow__c.IsActive__c}</expression>
    </formulas>
    <formulas>
        <name>NombreLeadConcatenado</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &apos; &apos; +{!$Record.LastName}</expression>
    </formulas>
    <interviewLabel>Lead Proceso Cuenta_Contratos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proceso Lead Cuenta Contratos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_Contrato</name>
        <label>Crea Contrato</label>
        <locationX>407</locationX>
        <locationY>755</locationY>
        <assignRecordIdToReference>IdContrato</assignRecordIdToReference>
        <connector>
            <targetReference>Update_lead_con_dni</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Cuenta_con_DNI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>Cuenta_con_DNI.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Converted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>$Record.Id_Externo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono_de_contrato__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Ocasional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_de_contrato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Contrato_0</name>
        <label>Crea Contrato</label>
        <locationX>143</locationX>
        <locationY>1079</locationY>
        <assignRecordIdToReference>IdContrato</assignRecordIdToReference>
        <connector>
            <targetReference>Update_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>idCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerSignedId</field>
            <value>
                <elementReference>Get_Created_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>$Record.Id_Externo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono_de_contrato__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefono_principal__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Ocasional</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_de_contrato__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isEmailVerified__c</field>
            <value>
                <elementReference>$Record.isEmailVerified__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Cuenta_Personal</name>
        <label>Crea Cuenta Personal</label>
        <locationX>143</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>idCuenta</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Created_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>España</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Codigo_Postal__c</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNI__c</field>
            <value>
                <elementReference>$Record.DNI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Converted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>$Record.Vindicia_Account_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_Cliente__c</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primer_Apellido__c</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordtype.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>$Record.Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segundo_Apellido__c</field>
            <value>
                <elementReference>$Record.Segundo_Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <stringValue>España</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>email_account__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isDniVerified__c</field>
            <value>
                <elementReference>$Record.isDniVerified__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_Individual</name>
        <label>Crea Individual</label>
        <locationX>143</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Accion_C111__c</field>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accion_C112__c</field>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accion_C113__c</field>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accion_C114__c</field>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accion_C122__c</field>
            <value>
                <stringValue>MODIFICACION</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountRelationship__c</field>
            <value>
                <elementReference>idCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C111__c</field>
            <value>
                <stringValue>C360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C112__c</field>
            <value>
                <stringValue>C360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C113__c</field>
            <value>
                <stringValue>C360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C114__c</field>
            <value>
                <stringValue>C360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Canal_Captacion_C122__c</field>
            <value>
                <stringValue>C360</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>$Record.Account_Created_from_Lead__r.Id_Externo__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C111__c</field>
            <value>
                <stringValue>ACCION COMERCIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C112__c</field>
            <value>
                <stringValue>ACCION COMERCIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C113__c</field>
            <value>
                <stringValue>ACCION COMERCIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C114__c</field>
            <value>
                <stringValue>ACCION COMERCIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_C122__c</field>
            <value>
                <stringValue>ACCION COMERCIAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segundo_apellido__c</field>
            <value>
                <elementReference>$Record.Segundo_Apellido__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C111__c</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C112__c</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C113__c</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C114__c</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sistema_Consumer_C122__c</field>
            <value>
                <stringValue>Service Cloud</stringValue>
            </value>
        </inputAssignments>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Cuenta_con_DNI</name>
        <label>Cuenta con DNI ¿?</label>
        <locationX>275</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_la_cuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DNI__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.DNI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DNI__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Account</name>
        <label>Get Created Account</label>
        <locationX>143</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Contrato_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCuenta</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recoger_Individual</name>
        <label>Recoger Individual</label>
        <locationX>407</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRelationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cuenta_con_DNI.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Individual</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>recordtype</name>
        <label>recordtype</label>
        <locationX>143</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crea_Cuenta_Personal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cuenta personal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_from_Created_False</name>
        <label>Account from Created False</label>
        <locationX>275</locationX>
        <locationY>1703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idCuenta</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>From_Converted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el Id Externo del Lead</description>
        <name>Actualizar_Id_Externo_Lead</name>
        <label>Actualizar Id Externo Lead</label>
        <locationX>671</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Id_Externo__c</field>
            <value>
                <elementReference>ActualizacionIdLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact Records</label>
        <locationX>143</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>UpdateContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Created_Account.PersonContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Crea_Individual</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Records</name>
        <label>Update Contact Records</label>
        <locationX>407</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>UpdateContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cuenta_con_DNI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IndividualId</field>
            <value>
                <elementReference>Recoger_Individual.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead</name>
        <label>Update lead</label>
        <locationX>143</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Crea_Individual</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Created_from_Lead__c</field>
            <value>
                <elementReference>idCuenta</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_lead_con_dni</name>
        <label>Update lead con dni</label>
        <locationX>407</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Recoger_Individual</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Created_from_Lead__c</field>
            <value>
                <elementReference>Cuenta_con_DNI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContrato</name>
        <label>UpdateContrato</label>
        <locationX>275</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Account_from_Created_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdContrato</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>From_Converted__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_activado</targetReference>
        </connector>
        <filterFormula>(ISNEW() &amp;&amp; TEXT({!$Record.Status}) ==&quot;NEW&quot;) || (ISCHANGED({!$Record.Status}) &amp;&amp; TEXT({!$Record.Status}) == &quot;Converted&quot;)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Id_cuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdContrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idCuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
