force-app/main/default/flows/Transaccion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Existe_Recurrente</name>
        <label>Existe Recurrente</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>ExisteRecurrente</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Comprobar_si_existe_Transaccion_de_Tipo_recurrente</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Comprobar_si_existe_Transaccion_de_Tipo_recurrente</name>
        <label>Comprobar si existe Transaccion de Tipo recurrente</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Asignar_primera_Transaccion_Recurrente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existe_Recurrente</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>El_Tipo_de_Pago_es_Puntual</targetReference>
            </connector>
            <label>Existe Tipo Recurrente</label>
        </rules>
    </decisions>
    <decisions>
        <name>El_Tipo_de_Pago_es_Puntual</name>
        <label>El Tipo de Pago es Puntual?</label>
        <locationX>182</locationX>
        <locationY>1523</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnewtransaction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_pago__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puntual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creamos_Alerta_tipo_Compra_por_Taquilla</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existe_Transaccion_de_Tipo_recurrente</name>
        <label>¿Existe Transaccion de Tipo recurrente?</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Recorre_Transacciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>Existe_Tipo_Recurrente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recorre_Transacciones.Tipo_de_pago__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurrente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existe_Recurrente</targetReference>
            </connector>
            <label>Existe Tipo Recurrente</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Isnewtransaction</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Transacción {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transacción</label>
    <loops>
        <name>Recorre_Transacciones</name>
        <label>Recorre Transacciones</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Recoger_Transacciones_de_Contrato</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Existe_Transaccion_de_Tipo_recurrente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Comprobar_si_existe_Transaccion_de_Tipo_recurrente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creamos_Alerta_tipo_Compra_por_Taquilla</name>
        <label>Creamos Alerta tipo Compra por Taquilla</label>
        <locationX>50</locationX>
        <locationY>1643</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.Cuenta_LookUp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asunto__c</field>
            <value>
                <stringValue>Compra por taquilla</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Contract_LookUp__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Compra por taquilla</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transacci_n__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Alerta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Recoger_Contrato</name>
        <label>Recoger Contrato</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recoger_Transacciones_de_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract_LookUp__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Recoger_Transacciones_de_Contrato</name>
        <label>Recoger Transacciones de Contrato</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recorre_Transacciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_LookUp__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recoger_Contrato.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Asignar_primera_Transaccion_Recurrente</name>
        <label>Asignar primera Transaccion Recurrente</label>
        <locationX>270</locationX>
        <locationY>1307</locationY>
        <connector>
            <targetReference>El_Tipo_de_Pago_es_Puntual</targetReference>
        </connector>
        <inputAssignments>
            <field>Primera_transaccion_recurrente__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recoger_Contrato</targetReference>
        </connector>
        <object>Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExisteRecurrente</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
